<h1>Contact</h1>
<ul class="contact-ul">
  <li>
    <a href="https://linkedin.com/in/lobzhanidzee" target="_blank"
      >LinkedIn &nearr;</a
    >
  </li>
  <li>
    <a href="https://github.com/lobzhanidzee" target="_blank">GitHub &nearr;</a>
  </li>
</ul>
